.inputWithIcon input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #706D6D;
    /* margin: 8px 0; */
    outline: none;
    padding: 4px;
    box-sizing: border-box;
    transition: .3s;
  }
  
  .inputWithIcon input:focus{
    border-bottom: 1px solid rgb(0, 108, 255);
  }
  
  .inputWithIcon input{
    padding-right:40px;
  }
  
  .inputWithIcon{
    position:relative;
  }
  
  .inputWithIcon i{
    position:absolute;
    right:0;
    top:9px;
    padding:9px 8px;
    color:#aaa;
    transition:.3s;
    font-size: 28px;
  }
  
  .inputWithIcon input:focus + i{
    color:dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input:focus + i{
    color:#fff;
    background-color:dodgerBlue;
  }